<template>
  <q-page>
    <m-table title="Categories" icon="category" model="categories" />
  </q-page>
</template>

<script>
import MTable from "../components/Table";
export default {
  name: "pageInventory",
  components: { MTable }
};
</script>
