<template>
  <q-page>
    <div class="row q-mb-md justify-center">
      <q-card
        v-for="item in stat_data"
        :key="item.name"
        class="q-ma-xs col-grow bg-grey-3"
        style="min-width: 215px"
      >
        <q-card-section class="row items-center" style="width:100%">
          <router-link :to="item.route">
            <q-avatar :icon="item.icon" color="bg-grey-3" text-color="black" />
          </router-link>
          <div class="column justify-center">
            <i>{{ item.name }}</i>
            <big>{{ item.number }}</big>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <div class="row justify-center q-mt-md items-center">
      <q-card
        v-for="item in charts"
        :key="item.name"
        class="bg-grey-3 q-ma-xs col-grow column justify-center"
      >
        <q-card-section class="row items-center">
          <div>{{ item.name }}</div>
        </q-card-section>
        <q-card-section class="row justify-center">
          <pie-chart
            v-if="item.type == 'pie'"
            :data="chart_data"
            style="width:330px"
          ></pie-chart>
          <bar-chart
            v-else-if="item.type == 'bar'"
            :data="chart_data"
            style="width:330px"
          ></bar-chart>
          <line-chart
            v-else-if="item.type == 'line'"
            :data="chart_data"
            style="width:330px"
          ></line-chart>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<style></style>

<script>
export default {
  name: "PageHome",
  data() {
    return {
      chart_data: {
        "2017-05-13": 2,
        "2017-05-14": 5,
        "2017-05-15": 7,
        "2017-05-16": 6
      },
      charts: [
        { name: "Positions", type: "pie" },
        { name: "Customers", type: "bar" },
        { name: "Deployments", type: "line" }
      ],

      stat_data: [
        {
          name: "Positions",
          number: 2504,
          icon: "desktop_windows",
          route: "/positions"
        },
        {
          name: "Customers",
          number: 57,
          icon: "business_center",
          route: "/customers"
        },
        {
          name: "Scenarios",
          number: 268,
          icon: "theaters",
          route: "/scenarios"
        },
        { name: "Images", number: 103, icon: "adjust", route: "/images" },
        {
          name: "Deployments",
          number: 386,
          icon: "play_circle_filled",
          route: "/deployments"
        }
      ]
    };
  }
};
</script>
