<template>
  <q-page>
    <m-table title="Positions" icon="desktop_windows" model="positions" />
  </q-page>
</template>

<script>
import MTable from "../components/Table";
export default {
  name: "pageInventory",
  components: { MTable }
};
</script>
