<template>
  <q-page>
    <m-table title="Rooms" icon="meeting_room" model="rooms" />
  </q-page>
</template>

<script>
import MTable from "../components/Table";
export default {
  name: "pageInventory",
  components: { MTable }
};
</script>
