<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="../assets/page-en-construction.png" />
  </q-page>
</template>

<style></style>

<script>
export default {
  name: "PageHome"
};
</script>
