<template>
  <q-page>
    <m-table title="Zones" icon="my_location" model="zones" />
  </q-page>
</template>

<script>
import MTable from "../components/Table";
export default {
  name: "pageInventory",
  components: { MTable }
};
</script>
