<template>
  <q-dialog v-model="value" @keydown.esc="close">
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section>
        <div class="text-h6">Add a record</div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <q-form @submit="onSubmit" @reset="onReset">
          <div class="q-gutter-md row justify-around">
            <q-input
              v-for="item in columns"
              :key="item.name"
              filled
              v-model="data[item.name]"
              :label="item.label"
              lazy-rules
              :rules="rules[item.name]"
              class="col-5"
            />

            <div class="col-12" align="right">
              <q-btn label="Submit" type="submit" color="primary" />
              <q-btn
                label="Reset"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: ["value", "columns"],
  data() {
    return {
      data: {}
    };
  },
  computed: {
    rules() {
      var k = {};
      this.columns.forEach(element => {
        if (element.required) {
          k[element.name] = [
            val => (val && val.length > 0) || "Please type something"
          ];
        }
      });
      return k;
    }
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
    onSubmit() {
      this.$emit("confirm", this.data);
      this.close();
    },
    onReset() {
      this.data = {};
    }
  }
};
</script>
