<template>
  <q-dialog v-model="value">
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar :icon="icon" />
        <span class="q-ml-sm">
          {{ text }}
        </span>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn
          flat
          label="Cancel"
          color="primary"
          v-close-popup
          @click="close"
        />
        <q-btn
          flat
          label="Delete"
          color="primary"
          v-close-popup
          @click="confirm"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: ["value", "icon", "text"],
  data: function() {
    return {
      openDialog: this.visible
    };
  },
  methods: {
    confirm() {
      this.$emit("confirm");
      this.close();
    },
    close() {
      this.$emit("input", false);
    }
  }
};
</script>
