<template>
  <div>
    <div v-if="init" class="absolute-center">
      <q-spinner-hourglass size="4em" />
      Loading in progress ...
    </div>
    <q-table
      v-else
      card-class="bg-grey-2 text-black"
      :title="title"
      dense
      :data="data"
      :columns="columns"
      row-key="id"
      binary-state-sort
      separator="cell"
      :visible-columns="showColumns"
      selection="multiple"
      :selected.sync="selected"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
    >
      <template v-slot:top>
        <div class="q-pa-md row justify-between" style="min-width: 100%">
          <div>
            <q-icon left size="2rem" :name="icon" />
            <b>{{ title }}</b>
          </div>
          <div>
            <q-btn
              size="md"
              flat
              round
              color="grey-2"
              text-color="black"
              icon="filter_list"
              @click="filtersVisible = !filtersVisible"
            >
              <q-tooltip>
                Show/hide filters
              </q-tooltip>
            </q-btn>
            <q-btn
              size="md"
              flat
              round
              color="grey-2"
              text-color="black"
              icon="view_columns"
            >
              <q-tooltip>
                Show/hide columns
              </q-tooltip>
              <q-menu>
                <q-list dense style="min-width: 100px">
                  <q-item
                    v-for="item in columns"
                    :key="item.name"
                    dense
                    clickable
                    @click="showHideColumn(item.name)"
                  >
                    <q-item-section>
                      <q-item-label
                        ><small
                          >{{ item.label }}
                          <q-icon
                            v-if="showColumns.includes(item.name)"
                            name="check"/></small
                      ></q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <q-btn
              size="md"
              flat
              round
              color="grey-2"
              text-color="black"
              icon="more_horiz"
            >
              <q-tooltip> Actions </q-tooltip>
              <q-menu>
                <q-list dense style="min-width: 100px">
                  <q-item
                    dense
                    clickable
                    v-close-popup
                    @click="addRowDialogVisible = true"
                  >
                    <q-item-section>
                      <q-item-label
                        ><small
                          ><q-icon name="playlist_add" /> Add</small
                        ></q-item-label
                      >
                    </q-item-section>
                  </q-item>

                  <q-item
                    :disable="selected.length != 1"
                    dense
                    clickable
                    v-close-popup
                    @click="editRowDialogVisible = true"
                  >
                    <q-item-section>
                      <q-item-label
                        ><small
                          ><q-icon name="edit" /> Edit</small
                        ></q-item-label
                      >
                    </q-item-section>
                  </q-item>

                  <q-item
                    :disable="!selected.length"
                    dense
                    clickable
                    v-close-popup
                    @click="confirmDelete = true"
                  >
                    <q-item-section>
                      <q-item-label
                        ><small
                          ><q-icon name="delete_outline" /> Delete</small
                        ></q-item-label
                      >
                    </q-item-section>
                  </q-item>

                  <q-separator />

                  <q-item
                    dense
                    clickable
                    v-close-popup
                    @click="notifyNotInstalled"
                  >
                    <q-item-section>
                      <q-item-label
                        ><small
                          ><q-icon name="save_alt" /> Import</small
                        ></q-item-label
                      >
                    </q-item-section>
                  </q-item>

                  <q-item clickable>
                    <q-item-section>
                      <q-item-label
                        ><small
                          ><q-icon name="publish" /> Export</small
                        ></q-item-label
                      >
                    </q-item-section>
                    <q-item-section side>
                      <small><q-icon name="keyboard_arrow_right"/></small>
                    </q-item-section>

                    <q-menu anchor="top right" self="top left">
                      <q-list>
                        <q-item dense clickable v-close-popup>
                          <q-item-section>
                            <q-item-label>
                              <small>
                                <download-csv :data="data">
                                  csv
                                </download-csv>
                              </small>
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item dense clickable v-close-popup>
                          <q-item-section>
                            <q-item-label>
                              <small>
                                <download-excel :data="data">
                                  excel
                                </download-excel>
                              </small>
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item
                          dense
                          clickable
                          v-close-popup
                          @click="exportPDF"
                        >
                          <q-item-section>
                            <q-item-label><small>pdf</small></q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>
        <div class="row justify-between" style="min-width: 100%"></div>
      </template>
      <template v-if="filtersVisible" v-slot:top-row="props">
        <q-tr>
          <q-td>
            <q-btn
              size="sm"
              flat
              round
              color="grey-2"
              text-color="black"
              icon="cancel"
              @click="deleteAllFilters"
            >
              <q-tooltip> Clear all filters </q-tooltip>
            </q-btn>
          </q-td>
          <q-td v-for="item in props.cols" :key="item.name">
            <q-input
              bg-color="white"
              outlined
              dense
              debounce="300"
              v-model.lazy="filter[item.name]"
              @input="onFilter()"
              class="search"
            >
              <template v-slot:append>
                <q-icon
                  v-if="filter[item.name] && filter[item.name] !== ''"
                  name="close"
                  @click="
                    delete filter[item.name];
                    onFilter();
                  "
                  class="search cursor-pointer"
                />
                <q-icon v-else name="search" class="search" />
              </template>
            </q-input>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <confirm-dialog
      v-model="confirmDelete"
      icon="delete_outline"
      :text="'Are you sure you want delete ' + deleteMessage"
      v-on:confirm="deleteRows"
    />

    <add-row-dialog
      v-model="addRowDialogVisible"
      v-on:confirm="addRow"
      :columns="columns"
    />

    <edit-row-dialog
      v-model="editRowDialogVisible"
      v-on:confirm="editRow"
      :columns="columns"
      :values="selected[0]"
    />
  </div>
</template>

<script>
import { NotifyNotInstalled } from "../mixins/notify.js";
import ConfirmDialog from "../components/ConfirmDialog";
import AddRowDialog from "../components/AddRowDialog";
import EditRowDialog from "../components/EditRowDialog";
import JsonCSV from "vue-json-csv";
import JsonExcel from "vue-json-excel";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  name: "MTable",
  components: {
    ConfirmDialog,
    AddRowDialog,
    EditRowDialog,
    "download-csv": JsonCSV,
    "download-excel": JsonExcel
  },
  mixins: [NotifyNotInstalled],
  props: {
    model: {
      String,
      default: ""
    },
    title: {
      String,
      default: ""
    },
    icon: {
      String,
      default: ""
    }
  },
  data() {
    return {
      init: true,
      columns: [],
      data: [],
      selected: [],
      confirmDelete: false,
      addRowDialogVisible: false,
      editRowDialogVisible: false,
      filtersVisible: false,
      showColumns: [],
      filter: {},
      loading: false,
      pagination: {
        sortBy: "id",
        descending: false,
        page: 1,
        rowsPerPage: 5,
        rowsNumber: 10
      }
    };
  },
  computed: {
    deleteMessage: function() {
      var n = this.selected.length;
      n = n == 1 ? "this row ?" : "these " + n + " rows ?";
      return n;
    }
  },
  mounted() {
    this.getColumns();
  },
  methods: {
    exportPDF() {
      let { page, rowsPerPage, sortBy, descending } = this.pagination;
      rowsPerPage = 0;
      let filter = JSON.stringify(this.filter);
      this.$api
        .get(
          "/" +
            this.model +
            "?page=" +
            page +
            "&rowsperpage=" +
            rowsPerPage +
            "&sortby=" +
            sortBy +
            "&descending=" +
            descending +
            "&filter=" +
            filter
        )
        .then(response => {
          const col = this.showColumns;
          const data = response.data.data;
          var body = [];
          data.forEach(function(r) {
            var row = [];
            col.forEach(function(c) {
              row.push(r[c]);
            });
            body.push(row);
          });
          var head = [];
          this.columns.forEach(function(e) {
            if (col.includes(e.name)) {
              head.push(e.label);
            }
          });
          const doc = new jsPDF();
          doc.autoTable({ head: [head], body: body });
          doc.save(this.model + ".pdf");
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "negative",
            icon: "feedback",
            position: "bottom-left",
            html: true
          });
        });
    },
    getColumns() {
      this.$api
        .get("/" + this.model + "?columns")
        .then(response => {
          this.columns = response.data.columns;
          this.columns.forEach(k => k.visible && this.showColumns.push(k.name));
          this.onRequest(this);
        })
        .catch(error => {
          this.notify(error.message, "negative", "feedback");
        })
        .finally(() => {
          setTimeout(() => (this.init = false), 1000);
        });
    },
    notify(message, color, icon) {
      this.$q.notify({
        message: message,
        color: color,
        icon: icon,
        position: "bottom-left",
        html: true
      });
    },
    deleteAllFilters() {
      Object.keys(this.filter).forEach(k => delete this.filter[k]);
      this.onFilter();
    },
    deleteFilter(key) {
      delete this.filter(key);
    },

    onFilter() {
      this.pagination.page = 1;
      Object.keys(this.filter).forEach(
        k =>
          !this.filter[k] &&
          this.filter[k] !== undefined &&
          delete this.filter[k]
      );
      this.onRequest(this);
    },
    onRequest(props) {
      let { page, rowsPerPage, sortBy, descending } = props.pagination;
      rowsPerPage = rowsPerPage == null ? 0 : rowsPerPage;
      let filter = JSON.stringify(this.filter);

      this.loading = true;

      this.$api
        .get(
          "/" +
            this.model +
            "?page=" +
            page +
            "&rowsperpage=" +
            rowsPerPage +
            "&sortby=" +
            sortBy +
            "&descending=" +
            descending +
            "&filter=" +
            filter
        )
        .then(response => {
          this.data = response.data.data;
          this.pagination = response.data.pagination;
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "negative",
            icon: "feedback",
            position: "bottom-left",
            html: true
          });
        })
        .finally(() => (this.loading = false));
    },
    showHideColumn(column) {
      if (this.showColumns.includes(column)) {
        this.showColumns = this.showColumns.filter(e => e !== column);
      } else {
        this.showColumns.push(column);
      }
    },
    addRow(row) {
      const headers = {};
      this.$api
        .post("/" + this.model, row, { headers: headers })
        .then(response => {
          this.notify(response.data.message, "positive", "save");
          this.onRequest(this);
        })
        .catch(error => {
          this.notify(error.message, "negative", "feedback");
        });
    },

    editRow(row) {
      const headers = {};
      this.$api
        .put("/" + this.model + "/" + row.id, row, { headers: headers })
        .then(response => {
          this.notify(response.data.message, "positive", "save");
          this.onRequest(this);
        })
        .catch(error => {
          this.notify(error.message, "negative", "feedback");
        });
    },

    deleteRows() {
      this.selected.forEach(k =>
        this.$api
          .delete("/" + this.model + "/" + k.id)
          .then(response => {
            this.notify(response.data.message, "positive", "delete_outline");
            this.onRequest(this);
          })
          .catch(error => {
            this.notify(error.message, "negative", "feedback");
          })
          .finally(() => this.onRequest(this))
      );
      this.selected = [];
    }
  }
};
</script>

<style scoped>
.search {
  font-size: 14px;
}
</style>
