<template>
  <q-layout view="hHh Lpr lff">
    <my-header v-on:showHideSideBar="sideBarVisible = !sideBarVisible" />

    <my-footer />

    <my-side-bar :visible="sideBarVisible" />

    <q-page-container>
      <router-view class="q-pa-md" />
    </q-page-container>
  </q-layout>
</template>

<script>
import MyHeader from "../layouts/Header";
import MyFooter from "../layouts/Footer";
import MySideBar from "../layouts/SideBar";

export default {
  components: { MyHeader, MyFooter, MySideBar },
  data() {
    return {
      sideBarVisible: true
    };
  }
};
</script>
