<template>
  <q-footer bordered class="bg-white q-pa-md text-black row justify-end">
    <div>
      &copy; {{ new Date().getFullYear() }} <a href="https://ebrc.com">EBRC</a>,
      made with
      <q-icon name="favorite" />
      for a better service.
    </div>
  </q-footer>
</template>
<script>
export default {};
</script>
