<template>
  <q-header elevated class="bg-black">
    <q-toolbar>
      <q-btn flat @click="$emit('showHideSideBar')" round dense icon="menu" />
      <q-toolbar-title>
        TRAC
      </q-toolbar-title>
    </q-toolbar>
  </q-header>
</template>
<script>
export default {};
</script>
