<template>
  <q-drawer
    v-model="visible"
    :mini="miniState"
    @mouseover="miniState = false"
    @mouseout="miniState = true"
    :width="200"
    :breakpoint="500"
    show-if-above
    bordered
    content-class="bg-grey-3"
  >
    <q-scroll-area class="fit">
      <q-list padding>
        <div v-for="item in menuItems" :key="item.name">
          <q-item v-if="item.type == 'item'" clickable :to="item.to" exact>
            <q-item-section avatar>
              <q-icon :name="item.icon" />
            </q-item-section>
            <q-item-section>
              {{ item.name }}
            </q-item-section>
          </q-item>
          <q-separator v-else-if="item.type == 'separator'" />
          <q-expansion-item
            v-else-if="item.type == 'expansion-item'"
            expand-separator
            :icon="item.icon"
            :label="item.name"
          >
            <q-list padding>
              <q-item
                v-for="subItem in item.items"
                :key="subItem.name"
                clickable
                :to="subItem.to"
                exact
              >
                <q-item-section avatar>
                  <q-icon :name="subItem.icon" />
                </q-item-section>
                <q-item-section>
                  {{ subItem.name }}
                </q-item-section>
              </q-item>
            </q-list>
          </q-expansion-item>
        </div>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>

<script>
export default {
  props: ["visible"],

  data() {
    return {
      //   sideBarVisible: true,
      miniState: true,
      menuItems: [
        { type: "item", name: "Home", icon: "home", to: "/" },
        { type: "separator" },
        {
          type: "expansion-item",
          name: "Facilities",
          icon: "location_city",
          items: [
            {
              type: "item",
              name: "Positions",
              icon: "desktop_windows",
              to: "/positions"
            },
            {
              type: "item",
              name: "Categories",
              icon: "category",
              to: "/categories"
            },
            { type: "item", name: "Zones", icon: "my_location", to: "/zones" },
            { type: "item", name: "Rooms", icon: "meeting_room", to: "/rooms" }
          ]
        },
        { type: "separator" },
        {
          type: "expansion-item",
          name: "Hardware",
          icon: "devices",
          items: []
        },
        { type: "separator" },

        {
          type: "item",
          name: "Customers",
          icon: "business_center",
          to: "/customers"
        },
        { type: "item", name: "Scenarios", icon: "theaters", to: "/scenarios" },
        { type: "item", name: "Images", icon: "adjust", to: "/images" },
        {
          type: "item",
          name: "Deployments",
          icon: "play_circle_filled",
          to: "/deployments"
        },
        { type: "separator" },
        { type: "item", name: "Settings", icon: "settings", to: "/settings" }
      ]
    };
  }
};
</script>
